.button__btn {
   margin: 20px 0 10px;
   height: 30px;
   text-transform: uppercase;
   background-color: rgb(0, 112, 224);
   border: rgb(0, 112, 224) 1px solid;
   color: rgb(255, 255, 255);
   border-radius: 20px;
   outline: none;
   cursor: pointer;

   &:disabled {
      background-color: rgb(130, 157, 189);
      border: rgb(130, 157, 189) 1px solid;
   }
}

.button__btn--products-buy {
   width: 85px;
}

.button__btn--clear-cart {
   height: 35px;
   width: 115px;
}