.products__wrapper {
   max-width: 960px;
   margin: 0 auto;
}

.products__main-title {
   margin: 50px 0 70px;
   text-align: center;
   font-size: 22px;
}

.products__list {
   box-sizing: border-box;
   display: flex;
   flex-wrap: wrap;
}

.products__item {
   width: 30%;
   margin: 5px 5px;
   padding: 20px 10px;
   text-align: center;
   border-radius: 10px;
   background-color: rgb(255, 255, 255);
   transition: all 0.3s;

   &:hover {
      box-shadow: 0px 0px 10px 0px rgba(194, 194, 194, 1);

      .products__image {
         display: flex;
         margin: 0 auto;
         transform: scale(1.04);
      }
   }
}

.products__image {
   display: flex;
   margin: 0 auto;
   cursor: pointer;
   transition: all 0.3s;
}

.products__description {
   margin-top: 15px;
   text-align: center;
}

@media (max-width: 1024px) {

   .products__wrapper {
      max-width: 690px;
   }

   .products__list {
      justify-content: space-between;
   }

   .products__item {
      width: 40%;
      margin: 10px 10px;

      &:last-child {
         margin-right: auto;
      }
   }
}

@media (max-width: 640px) {

   .products__list {
      justify-content: center;
   }

   .products__item {
      width: 75%;
      margin: 10px 10px;

      &:last-child {
         margin: auto;
      }
   }
}