.products__wrapper {
   max-width: 960px;
   margin: 0 auto;
}

.products__main-title {
   margin: 50px 0 70px;
   text-align: center;
   font-size: 22px;
}

.products__list {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.products__item {
   padding: 20px 10px;
   text-align: center;
   transition: 0.2s;

   &:hover {
      box-shadow: 0px 0px 10px grey;
   }
}

.products__image {
   display: flex;
   margin: 0 auto;
}

.products__description {
   margin-top: 15px;
   text-align: center;
}