* {
   padding: 0;
   margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   padding: 0;
   margin: 0;
}

html {
   box-sizing: border-box;
}

body {
   background: linear-gradient(to right, #dddddd 0%,#ffffff 20%,#ffffff 80%,#dddddd 100%);
   font-family: 'Nunito', sans-serif;
   overflow-y: scroll;
}

ul {
   margin: 0;
   padding: 0;
   list-style: none;
}

a {
   text-decoration: none;
   color: #000000;
}