@font-face {
   font-family: 'Nunito';
   font-style: normal;
   font-weight: 300;
   src: url("../fonts/Nunito/Nunito-Light.woff"),
      url("../fonts/Nunito/Nunito-Light.woff2");
}

@font-face {
   font-family: 'Nunito';
   font-style: normal;
   font-weight: 400;
   src: url("../fonts/Nunito/Nunito-Regular.woff"),
      url("../fonts/Nunito/Nunito-Regular.woff2");
}

@font-face {
   font-family: 'Nunito';
   font-style: normal;
   font-weight: 700;
   src: url("../fonts/Nunito/Nunito-Bold.woff"),
      url("../fonts/Nunito/Nunito-Bold.woff2");
}